/*Global*/
body {

   margin: 0;
   padding: 0;
    font-family: 'Playfair Display', serif;
}

/*Navigation*/
nav {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    background-color: #555;
}

.golden {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
    color: white;
}
/*Splash*/
.welcome {
    height: 100vh;
    background: url(https://i.postimg.cc/vBVQ95kD/Newprojeckt-Backgroundimg.jpg);
    background-size: cover;
}

.splash {
    text-align: center;
    padding: 10px 0;
    color:white;
    
}

.read-more-button {
    background-color: #BDE038;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
/*Services*/
.services {
    text-align: center;
    padding: 10px 0; 
   
    
}
.box-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.box {
    width: calc(33.33% - 40px);
    height: 100px;  
    margin-right: 20px;
    
}
.box:last-child {
    margin-right: 0; /* Usuń margines z ostatniego boxa, aby uniknąć przerwy na końcu */
  }
i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-circle {
    display: inline-block;
    position: relative;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%;
    background-color: #BDE038; /* Adjust as needed */
  }

  .section-container {
    padding: 50px 0px;
    align-items: center;
  }

/*Portfolio*/

.portfolio {
  background-color: #f7f7f7;

  .container {
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      min-height: 20px;
      margin-top: 10px; /* Dodany odstęp między sekcjami */
  }

  h2, h3 {
      text-align: center;
      display: block;
      margin-bottom: 10px;
  }

  .row {
      display: flex;
      margin: 0 auto;
  }

  .portfolio-element {
      display: flex;
      justify-content: center;

      .card {
          width: 300px;
          height: 400px;
          background-color: #ffffff;
          margin-bottom: 60px;

          img {
              width: 300px;
              height: 300px;
              object-fit: cover;
          }

          .text-container {
              text-align: center;

              .product-title {
                  margin-top: 10px;
              }

              .product-description {
                  margin-top: 0;
                  color: gray;
              }
          }
      }
  }
}
/*Footer*/
.footer {
  background-color: #343a40; /* Kolor tła stopki */
  color: #ffffff; /* Kolor tekstu stopki */
  padding-top: 2rem; /* Górny odstęp dla stopki */
  padding-bottom: 2rem; /* Dolny odstęp dla stopki */

  .social-icons a i {
      color: #9FC131; /* Kolor ikon */
      font-size: 24px; /* Rozmiar ikon */
      transition: color 0.3s ease; /* Dodanie płynności do zmiany koloru */
  }

  .social-icons a:hover i {
      color: #005C53; /* Kolor ikon po najechaniu myszką */
  }

  .copyright {
      margin-top: 1rem; /* Górny odstęp dla tekstu praw autorskich */
  }
}