/*Global*/
body {
  
    font-family: 'Playfair Display', serif;
}

/*Splash*/
.welcome {
    background-image: url(https://postimg.cc/F1rdk47c);
    background-size: cover;
    background-position: center;
}

.splash {
    text-align: center;
    padding: 10px 0;
    
}

.read-more-button {
    background-color: #BDE038;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

nav {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #0b0b0b;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    background-color: #555;
}
.golden {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
}
