/*Global*/
body {
  
    font-family: 'Playfair Display', serif;
}

/*Splash*/
.welcome {
    height: 100vh;
    background: url(https://i.postimg.cc/vBVQ95kD/Newprojeckt-Backgroundimg.jpg);
    background-size: cover;
    

    
}

.splash {
    text-align: center;
    padding: 10px 0;
    color:white;
    
}

.read-more-button {
    background-color: #BDE038;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

nav {
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    background-color: #555;
}
.golden {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
    color: white;
}
.services {
    text-align: center;
    padding: 10px 0; 
}
.box-wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.box {
    width: 100px;
    height: 100px;
    
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-circle {
    display: inline-block;
    position: relative;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%;
    background-color: #3498db; /* Adjust as needed */
  }